<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">

    <targets>
        <target xsi:type="File" name="connectionManagerFile" fileName="C:\FileShare\logs\connectionmanager.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

        <target xsi:type="File" name="notifyManagerFile" fileName="C:\FileShare\logs\notifyManager.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />
        
        <target xsi:type="File" name="engineServiceFile" fileName="C:\FileShare\logs\notifyManager.log" layout="${longdate} | ${level:uppercase=true} | ${logger} | ${message}" />

        <target xsi:type="Console" name="console" layout="${longdate}|${level:uppercase=true}|${logger}|${message}" />
    </targets>

    <rules>
        <logger name="*" minlevel="Info" writeTo="file,console" />

        <logger name="ConnectionManagerLogger" minlevel="Info" writeTo="connectionManagerFile" />
        
        <logger name="NotifyManagerLogger" minlevel="Info" writeTo="notifyManagerFile" />
        
        <logger name="EngineServiceLogger" minlevel="Info" writeTo="engineServiceFile" />
    </rules>
</nlog>